body {
    margin: 0;
    font-family:  Arial;
    font: bold;
}

button {
    border-radius: 10px;
    font-size: 18px;
    padding: 12px;
    color: white;
    background: linear-gradient(to right, var(--color1), var(--color2));
}

p {
    padding: 20px;
    text-align: center;
}